.app.dark {
  //цвета
  --bg-color: rgb(41, 70, 133);
  --invert-bg-color: rgb(190, 201, 225);

  --primary-color: rgb(184, 201, 179);
  --secondary-color: rgb(211, 217, 208);
  --invert-primary-color: rgb(22, 41, 16);
  --invert-secondary-color: rgb(6, 16, 2);
}
