.app.light {
  --bg-color: rgb(209, 220, 244);
  --invert-bg-color: rgb(37, 41, 49);

  --primary-color: rgb(21, 78, 4);
  --secondary-color: rgb(55, 120, 22);
  --invert-primary-color: rgb(6, 17, 3);
  --invert-secondary-color: rgb(3, 36, 25);
}
